<section class="container">
    <div>
            <img src="https://raw.githubusercontent.com/john-dulaney/front-end-capstone/master/app/stocks/partials/images/guil.jpeg">
       <p>The EveryDay Stock App is a place where users can learn stock prices, view basic data charts on the state of their ticker selections. As well as attempt to bet fake credits on Bticoin (which may or may not be in a free fall)
           </p> 
           <p>
               We have no current locations, but since we are NSS Students, we might as well use Google Maps and show you NSS.
           </p>
           <p>I can't stop trying to add useless features.</p>

    </div>
    


</section>