<ul ng-controller="NavigationCtrl" class="nav-wrapper navbar-fixed green darken-4 white-text">
    <li><a href="/#!/stocks/userdash" class="active">Home</a></li>
    <li><a href="/#!/stocks/invest">See Bitcoin</a></li>
    <li><a href="/#!/stocks/performers">FINISH THIS</a></li>
    <!-- <li><span ng-include="'app/navigation/partials/search.html'"></span></li> -->

    <li class="right">
        <span ng-if="isAuthenticated()" class="right">
                <a href="#" ng-click="logout()" class="right">Logout</a>
            </span>
        <span ng-if="!isAuthenticated()"></span>
    </li>
    <li class="right">Welcome <span style="font-weight: bold">{{ userEmail }}</span></li>
    <li class="right"><a href="/#!/stocks/invest">Credit amount: {{ credits }}</a></li>
</ul>