<ul ng-controller="NavigationCtrl" class="nav-wrapper nav-extended grey darken-2 white-text ">
     
    <li><a href="#!/stocks/userdash" class="active navtitle">Nashville Stock App</a></li>
    <li><a href="#!/stocks/quote">Get a Quote</a></li>
    <li><a href="#!/stocks/invest">Bitcoin</a></li>
    <li><a href="#!/stocks/about">About Us</a></li>
    <li class="right">
        <span ng-if="isAuthenticated()" class="right">
            <a href="#" ng-click="logout()" class="right">Logout</a>
        </span>
        <span ng-if="!isAuthenticated()"></span>
    </li>
</ul>