html {
    background-color: lightsalmon;
}
nav>ul>li {
    display: inline;
    padding: 25px;
    margin: 10px;
    background-color: tomato;
    color: white;
}

#bodyDiv {
    margin-top: 50px;
}

a {
    color: white;
    
}
a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:focus {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    text-decoration: none;
    color: white;
}

#BTCcanvas {
    width: 60%
}