/* html {
    background-color: rgba(183, 4, 94, 0.1)
} */
nav>ul>li {
    display: inline;
    color: white;
}

#bodyDiv {
    margin-top: 50px;
}

.smallFont {
    font-size: 13px;
    font-weight: italic;
}
a {
    color: #BB1616;
    
}
a:visited {
    text-decoration: none;
    color: #BB1616;
}

a:hover {
    text-decoration: none;
    color: #BB1616;
}

a:focus {
    text-decoration: none;
    color: #BB1616;
}

a:hover,
a:active {
    text-decoration: none;
    color: #BB1616;
}

#BTCcanvas {
        max-width: 600px;
        max-height: 600px;
}