html {
    background-color: rgba(183, 4, 94, 0.1)
}
nav>ul>li {
    display: inline;
    padding: 25px;
    margin: 10px;
    background-color: tomato;
    color: white;
}

#bodyDiv {
    margin-top: 50px;
}

.smallFont {
    font-size: 13px;
    font-weight: italic;
}
a {
    color: white;
    
}
a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:focus {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    text-decoration: none;
    color: white;
}

#BTCcanvas {
    width: 60%
}